<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des candidats</title>
    <script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>

    <script type="text/javascript" src="../static/js/jquery.dataTables.min.js" th:src="@{js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{css/style.css}"/>
</head>
<body onload="window.print();">
  <div class="container col-md-12">
      <header>
          <div>
              <img src="../static/images/logo.png" th:src="@{images/logo.png}"
                   width="70" height="70"/>
              <h3 class="pull-right" style="color: #4cae4c">Université Assane SECK de Ziguinchor</h3>
          </div>
          <div>
              <h3 id="hole">Liste des candidats inscrits</h3>
          </div>
      </header>
      <hr/>
      <table class="table table-bordered table-striped">
          <thead>
          <tr>
              <th>Id</th><th>Name</th><th>Profession</th><th>Election inscrite</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="candidat : ${candidats}">
              <td th:text="${candidat.idUser}"></td>
              <td th:text="${candidat.name}"></td>
              <td th:text="${candidat.profession}"></td>
              <td th:text="${candidat.election.nomElection}"></td>
          </tr>
          </tbody>
      </table>
  </div>

</body>
</html>