<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Menu Superviseur</title>
    <script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
    th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{css/all.min.css}"/>
    <link rel="stylesheet" href="../static/css/sb-admin.css" th:href="@{css/sb-admin.css}"/>
</head>
<body>
<div style="margin-top: 5px" layout:fragment="content">
    <div class="container-fluid">
    <div class="container col-md-1 col-md-offset-1">
        <a href="#"><img id='image' class='img-circle img-responsive center-block' src="../static/images/logo.png" th:src="@{images/logo.png}" width="100" height="100" /></a>
    </div>
    <hr>
        <center><p> <a href="#"  class="fol" style="color: black; text-align: center;"><b>E-Voting</b> <b>-UASZ</b></a></p></center>
        <div class="container-fluid pull-right">
    <div class="row col-md-12">
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-user"></i>
                    </div>
                    <div class="mr-5">Modifier mes infos</div>
                </div>
                <a class="card-footer text-white clearfix small z-1 mbtn" href="#">
                    <span class="float-left">Modifier</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-bell"></i>
                    </div>
                    <div class="mr-5">Envoyer des notifications</div>
                </div>
                <a class="card-footer text-white clearfix small z-1 nbtn" href="#">
                    <span class="float-left">envoyer</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5">Election ouverte :</div>
                    <label style="font-weight: bold;" th:text="${election.nomElection}"></label>
                </div>
                <a class="card-footer text-white clearfix small z-1" th:href="@{elections}">
                    <span class="float-left">voir details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-users"></i>
                    </div>
                    <div class="mr-5" th:text="${nombreInscrits}" style="font-weight: bold; font-size: medium;"></div>
                     Candidats Inscrits
                </div>
                <a class="card-footer text-white clearfix small z-1" th:href="@{candidats}">
                    <span class="float-left">voir details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-users"></i>
                    </div>
                    <div class="mr-5" th:text="${total}" style="font-weight: bold; font-size: medium;"></div>
                    Electeurs
                </div>
                <a class="card-footer text-white clearfix small z-1" th:href="@{electeurs}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-key"></i>
                    </div>
                    <div class="mr-5">Parametre de securité</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
    </div>
        </div>
    <div class="myForm">
        <form th:action="@{/saveNotif}" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Envoie notification</h5>
                            <img src="../static/images/logo.png" th:src="@{images/logo.png}" width="30" height="30"/>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="titre" class="col-form-label">Titre:</label>
                                <input  class="form-control" id="titre" name="titre" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-form-label">message:</label>
                                <textarea  class="form-control" id="message" name="message" value=""></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary glyphicon glyphicon-send" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

        <div class="myForm2">
            <form th:action="@{/saveSuper}" method="post">
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2"><i class="fa fa-user"></i></h5>
                                <img src="../static/images/logo.png" th:src="@{images/logo.png}" width="20" height="20" />
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="idUser" class="col-form-label">IDentifiant:</label>
                                    <input class="form-control" id="idUser" name="idUser" th:value="${superviseur.idUser}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" th:value="${superviseur.name}" />
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">email:</label>
                                    <input type="email" class="form-control" id="username" name="username" th:value="${superviseur.username}" />
                                </div>
                                <div class="form-group">
                                    <label for="profession" class="col-form-label">Profession:</label>
                                    <input type="text" class="form-control" id="profession" name="profession" th:value="${superviseur.profession}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.nbtn').on('click',function (event) {
                event.preventDefault();
                $('.myForm #exampleModal').modal();
            });
            $('.mbtn').on('click',function (event) {
                event.preventDefault();
                $('.myForm2 #exampleModal2').modal();
            });
        });
    </script>
</div>

</body>
</html>